/* REQUIRED: DO NOT REMOVE */
@import "global/rubix/overrides/variables";
@import "global/vendor/bootstrap/bootstrap";
@import "global/vendor/sass-list-maps/sass-list-maps";

@import "global/rubix/base/base";
@import "global/rubix/layout/layout";
@import "global/rubix/module/module";

/* THIRD-PARTY PLUGINS (CAN BE REMOVED) */
@import "global/vendor/hubspot/vex";
@import "global/vendor/hubspot/messenger";
@import "global/vendor/timeline/timeline";
@import "global/vendor/xeditable/xeditable";
@import "global/vendor/jquery-steps/jquery-steps";
@import "global/vendor/fullcalendar/fullcalendar";
@import "global/vendor/fullcalendar/fullcalendar-print";
@import "global/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker";

/* IMPORT PAGE STYLES */
@import "pages/pages";
/* IMPORT PRINT STYLES */
@import "print/print";

html[dir='rtl'] {
  [class^="icon-"].float-right-rtl,
  [class*=" icon-"].float-right-rtl {
    position: relative;
    /*@noflip*/float: right;
  }
}

body {
  opacity: 1;
  transition: all 0.7s ease;

  &.fade-out {
    transition: all 0.25s ease;
    opacity: 0;
  }
}

#app-preloader > .preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #E9EDF2;
  z-index: 99999999999;
}
#app-preloader > .preloader > img {
  margin: auto;
  display: block;
  margin-top: 150px;
  position: relative;
}
